.theme-switcher {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.6rem;
    margin-left: 1rem;
    flex-shrink: 0;
}

.theme-switcher input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--icon-inactive);
    transition: background-color 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: white;
    transition: transform 0.4s;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);
}

.slider.round {
    border-radius: 3.4rem;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--color-primary);
}

input:checked + .slider:before {
    transform: translateX(2.4rem);
}